:root {
  font-family: sora;
  font-size: 17px;
}

body {
  margin: 0;
  background: #F1FAFF;
}

h3 {
  word-wrap: break-word;
}

.test-container {
  display: flex;
  justify-content: space-between;
  min-height: 800px;
}